@page "/StandardNonogram/{id:int}"
@using NonoBlazor.Shared
@inject HttpClient client

<div id="wrapper">
    @if ((Nonogram == null || Nonogram.CellRows == null) && BadRequest == false)
    {
        <p>Loading...</p>
    }
    else if (BadRequest == true)
    {
        <p>Bad Request <a href="/">Go Back</a></p>
    }
    else
    {
        <h1>Puzzle #@Nonogram.ID @(Nonogram.HasWon ? "- You Win!" : "")</h1>

        <div class="nonogram-container">
            <div class="nonogram-table">
                <div class="nonogram-row nonogram-row d-flex">
                    <div class="nonogram-columnvalue-container nonogram-rowvalue-container nonogram-cell"></div> <!-- Empty Cell for first column. Row Values will go here. -->
                    @foreach (List<int> colValues in Nonogram.ColumnValues)
                    {
                        <div class="nonogram-cell d-flex flex-column justify-content-end">
                            @foreach (int colValue in colValues)
                            {
                                <div class="nonogram-columnvalue">@colValue</div>
                            }
                        </div>
                    }
                </div>

                @for(var rowNum = 0; rowNum < Nonogram.RowValues.Count; rowNum++)
                {
                    <div class="nonogram-row d-flex">
                        <div class="nonogram-cell nonogram-rowvalue-container d-flex justify-content-end">
                            @foreach(int rowValue in Nonogram.RowValues[rowNum])
                            {
                                <div class="nonogram-rowvalue">@rowValue</div>
                            }
                        </div>

                        @for(var colNum = 0; colNum < Nonogram.ColumnValues.Count; colNum++)
                        {
                            var rowNumCopy = rowNum;
                            var colNumCopy = colNum;

                            <StandardNonogramCellView Cell="Nonogram.CellRows[rowNumCopy][colNumCopy]" CheckForWin="Nonogram.CheckForWin"></StandardNonogramCellView>
                        }
                    </div>
                }

            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    public StandardNonogram Nonogram { get; set; }

    public bool BadRequest { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Nonogram = await client.GetFromJsonAsync<StandardNonogram>($"api/StandardNonogram/{Id}");
        Nonogram.Initialize();

        if (Nonogram == null)
        {
            BadRequest = true;
        }
    }
}
